body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 16px;
	line-height: 25px;
	font-weight: normal;
	color: #010101;
}


a {
	text-decoration: none;
	color: #010101;
}

a:hover{
	text-decoration:  none;
	color: #010101;
	font-weight: bold; 
}

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}


.wrapper-central-col {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.wrapper-central-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.main-header {
	background-color: #fcdb00;
	padding-top: 60px;
	margin-bottom: 110px;
}

.navbar {
	margin-bottom: 70px;
}

.navbar-light .navbar-brand {
    color: rgba(1,1,1,1);
}

.company-label {
	font-size: 30px;
	line-height: 32px;
	font-weight: bold;

	position: relative;
}

.company-label::before {
	content: ""; 

	position: absolute;
	top: 0%;
	left: -56px;
	width: 46px;
	height: 46px;

	background-image: url('../img/fingerprint.png');
	background-repeat: no-repeat;
	background-position: 0 0;
}

.navbar-font {
	font-size: 22px;
	line-height: 25px; 
	justify-content: space-between;
	margin-left: auto;
	color: rgba(0, 0, 0, 0.5);
	color: #010101;
}

.navbar-light .navbar-nav .nav-link {
	margin-left: 60px;
    color: rgba(1,1,1,1);
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(1,1,1,1);
    color: #ab9c3a;
}

.title {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 25px;
}

.slogan {
	font-size: 20px;
	line-height: 24px;
	color: 313841;
	margin-bottom: 25px;
}

.descr-text {
	color: 555555;
}

.inline-flex {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
}
.inline-flex li {
	padding: 0;
	margin: 0;
	margin-right: 35px;
}

.content-list {
	margin-top: 45px;
	display: none;
}

.button-yellow {
	width: 186px;
	height: 50px;

	position: relative;

	background-color: transparent;
	border: 2px solid #000000;
	border-radius: 5px;
	padding-left: 20px;
	text-align: left;

}

.button-yellow:hover {
	background-color: #000000;
	color: #ffffff;
}

.button-yellow::after {
	content: ""; 

	position: absolute;
	left: 130px;
	width: 30px;
	height: 20px;
	top: 50%;
	top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
   

	background-image: url('../img/fa-cloud-download.png');
	background-repeat: no-repeat;
	background-position: 0 0;
}

.button-black {
	width: 186px;
	height: 50px;

	position: relative;

	background-color: #000000;
	border: 2px solid #000000;
	border-radius: 5px;
	padding-left: 20px;
	text-align: left;

	color: #ffffff;
}

.button-black:hover {
	background-color: #ffffff;
	border: 2px solid #ffffff;
	color: #000000;
}

.button-black::after {
	content: ""; 

	position: absolute;
	left: 130px;
	width: 30px;
	height: 20px;
	top: 50%;
	top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
   

	background-image: url('../img/fa-cloud-download-white.png');
	background-repeat: no-repeat;
	background-position: 0 0;
}


.idap {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 470px;
	width: 317px;
	background-color: #000000;

	border: 14px solid #ffffff;
	border-top: 44px solid #ffffff;
	border-bottom: 44px solid #ffffff;
	border-radius: 17px;
	
	margin-bottom: 100px;
}

.label-ipad {
	font-size: 30px;
	line-height: 32px;
	font-weight: bold;
	color: #fcdb00;

	position: relative;
	margin-left: 35px;
}

.label-ipad::before {
	content: ""; 

	position: absolute;
	top: 0%;
	left: -56px;
	width: 46px;
	height: 46px;

	background-image: url('../img/fingerprint-yellow.png');
	background-repeat: no-repeat;
	background-position: 0 0;
}

.ul-style {
	margin: 0;
	padding: 0;
	list-style: none;
}

.feature-item {
	margin-bottom: 85px;
}

.feature-title {
	font-size: 22px;
	line-height: 24px;
	font-weight: normal;

	margin-bottom: 20px;
	position: relative;
}

.feature-img {
	position: absolute;
	top: 0px;
	left: -50px;
}

.feature-text {
	color: #898989;
}

.descr-anotation {
	text-align: center;
	margin-bottom: 90px;

	font-size: 20px;
	line-height: 24px;
	color: #313841;
}

footer {
	background-color: #010101;
	color: #898989;
}

.contacts {
	padding-top: 100px;
}

.form-title {
	font-size: 32px;
	color: #fcdb00;
	margin-bottom: 20px;
}

.contacts-text {
	margin-bottom: 45px;
	text-align: center;
}

.form-email {
	margin-bottom: 80px;
	position: relative;
}

.form-control {
	width: 580px;
}

.btn-submit {
	margin-left: 20px;
	width: 120px;
	background-color: #fcdb00;

	color: #010101;
	font-weight: bold;

	border: none;
	border-radius: 3px;
}
.btn-submit:hover {
	background-color: #ab9c3a;
}

.links-group {
	justify-content: space-between;
	color: #ffffff;
}
.links-group a {
	color: #ffffff;
}

.ul-social {
	margin-bottom: 130px;
}

.social-networks-item {
	margin-right: 30px;
}

.social-networks-item:hover {
	background-color: #ab9c3a;
}

.show {
	display: block;
}

.warning {
	color: #e1e1e1;
	display: block;
	position: absolute;
	top: 120%;
	left: 50%;
	-webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}